@charset "UTF-8";

/* button */
#add{margin-left:30px;}

/* THEME */
/* tab wrapper */
.block{margin:0 0 30px 0;}

/* tab styles */
ul.tabs{padding:0 30px; border-bottom:1px solid #666;}
ul.tabs li{margin:0 2px 0 0;}
ul.tabs a{background-color:#aaa; border-bottom:1px solid #fff; color:#fff;}

/* content block */
.content{height:48px; overflow-y:auto; padding:10px; margin:0 30px; background-color:#eee;}

/* tabulous styles */
.tabu-tab-active a {
	background-color: #444;
	border-bottom-color: #444;
}

.js-tabulous ul.tabs a:hover{background-color:#444;}

/* usage with custom classes */
.js-tabulous .t-active a{background-color:#444; border-bottom-color:#444; cursor:default;}
.js-tabulous .c-active{display:block;}

/* fancy CSS3 graphics */
ul.tabs a{
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#aaa), to(#888));
	background:-moz-linear-gradient(#aaa, #888);
	background:-o-linear-gradient(#aaa, #888);
	background:linear-gradient(#aaa, #888);
	text-shadow:0 1px 1px #222;
}

ul.tabs a:hover,
ul .tabu-tab-active a,
ul .t-active a {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#666), to(#444));
	background: -moz-linear-gradient(#666, #444);
	background: -o-linear-gradient(#666, #444);
	background: linear-gradient(#666, #444);
}

.content{
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#bbb), color-stop(10%, #eee));
	background:-moz-linear-gradient(#bbb, #eee 5px);
	background:-o-linear-gradient(#bbb, #eee 5px);
	background:linear-gradient(#bbb, #eee 5px);
}