@charset "UTF-8";

/* BASE */
/* clearfix */
.clearfix:after {
  content:'.'; display:block; clear:both; visibility:hidden; height:0; line-height:0;
}

.clearfix {
  height: 1%;
}

/* tabs */
ul.tabs {
  display: block;
}

ul.tabs li {
  float: left;
}

ul.tabs a {
  display: block;
  width: 100px;
  padding: 4px 0;
  text-align: center;
  cursor: default;
}

/* states */
ul.tabs a:hover {
  cursor: pointer;
}

.content {
  display: none;
}

.tabu-cont-active {
  display: block;
}

.tabu-tab-active a {
  cursor: default;
}
